* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;

}
/****************header css*************************/
header {
  display: flex;
  align-items: center;

}

header #logo {
  height: 4rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-left: 45rem;

}

header nav a{
  text-decoration: none;
  color:black;
}

header nav a:hover{
  color: blue;
}
/****************main css*************************/
main{
  background-color: black;
  color: white;
  min-height: 5em;
  display: flex;
  align-items: center;
  padding-left: 5em;
  margin-top: 0.5em;
}




/****************footer css*************************/
#merchandise{
 height: 30em;

}

#merchandise ul{
  display: flex;
  list-style: none;
  background-color: dodgerblue;
  color: white;
  justify-content: space-around;
}
#merchandise img{
  height: 4em;
}
#merchandise li{
  display: flex;
  align-items: center;
  font-size: small;
}