* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  font-family: sans-serif;
  height: 100%;

}

html, body, #root, #app{
  height: 100%;
}

/****************header css*************************/
header {
  display: flex;
  align-items: center;

}

header #logo {
  height: 4rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-left: 45rem;

}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  color: blue;
}

/****************main css*************************/
main {
  background-color: black;
  color: white;
  min-height: 20%;
  display: flex;
  align-items: center;
  padding-left: 5em;
  margin-top: 0.5em;
}




/****************footer css*************************/

#merchandise {
  display: flex;
  list-style: none;
  background-color: dodgerblue;
  color: white;
  justify-content: space-around;
  height: 8em;
  background-color: dodgerblue;
  color: white;
}

#merchandise img {
  height: 4em;
}

#merchandise li {
  display: flex;
  align-items: center;
  font-size: small;
}

#info {
  background-image: url("/public/footer-bg.jpg");
  height: 20em;
  background-size: cover;
  display: flex;
}

#social {
  background-color: rgb(58, 57, 57);
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#social button{
  border-color: dodgerblue;
  height: 3em;
  padding: 0 1em;
  background-color:rgb(58, 57, 57) ;
  color: white
}
#account{
  display: flex;
  align-items: center;
  justify-content:space-around ;
}
#account h4{
  color: dodgerblue;
  padding: 1em;
}

#account img{
padding: .5em;
}
.column {
  color: white;
  flex: 1;
}
.left{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 1em 0;
  
}

.left ul{
  list-style: none;

}
#bg-dc-logo{
    background-image: url("/public/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.left h3{
  padding: 1em 0;
}
.left li{
  color: grey;
}