* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: sans-serif;
  height: 100%;

}

html,
body,
#root,
#app {
  height: 100%;
}

/****************header css*************************/
header {
  display: flex;
  align-items: center;

}

header #logo {
  height: 4rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin-left: 45rem;

}

header nav a {
  text-decoration: none;
  color: black;
}

header nav a:hover {
  color: blue;
}


/****************main css*************************/
main {
  background-color: black;
  color: white;
  min-height: 20%;
  display: block; 
  padding: 0;
  margin: 0;
  width: 100%;

}

.jumbotron {
  background-image: url('/jumbotron.jpg');
  height: 400px;
  background-position: top;
  background-size: cover;
  width: 100%;
}

.product-list {
  background-color: #1c1c1c; 
  color: white;
  padding: 3rem 0;
  position: relative;
}
.container {
  max-width: 90%; 
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.cards-container {
  display: flex;
  flex-wrap: wrap; 
  padding-top: 3rem; 
}
 .card {
  width: calc(100% / 6); 
  padding: 10px;
  margin-bottom: 20px;
}

.img-container {
    height: 180px;
    width: 180px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card img {
  width: 100%;
  aspect-ratio: 1/1; /* Mantiene le immagini quadrate/proporzionate */
  object-fit: cover;
  display: block;
}

.card h4 {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: normal;
}


.current-series-btn {
    background-color: #0282f9; 
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 1.2rem;
    position: absolute;
    top: -65px; 
    left: 0; 
   
}

.load-more {
    display: block;
    margin: 20px auto;
    background-color: #0282f9;
    color: white;
    border: none;
    padding: 10px 40px;
    font-weight: bold;
    cursor: pointer;
}
/****************footer css*************************/

#merchandise {
  display: flex;
  list-style: none;
  background-color: dodgerblue;
  color: white;
  justify-content: space-around;
  height: 8em;
  background-color: dodgerblue;
  color: white;
}

#merchandise img {
  height: 4em;
}

#merchandise li {
  display: flex;
  align-items: center;
  font-size: small;
}

#info {
  background-image: url("/footer-bg.jpg");
  height: 20em;
  background-size: cover;
  display: flex;
}

#social {
  background-color: rgb(58, 57, 57);
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#social button {
  border-color: dodgerblue;
  height: 3em;
  padding: 0 1em;
  background-color: rgb(58, 57, 57);
  color: white
}

#account {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#account h4 {
  color: dodgerblue;
  padding: 1em;
}

#account img {
  padding: .5em;
}

.column {
  color: white;
  flex: 1;
}

.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  padding: 1em 0;

}

.left ul {
  list-style: none;

}

#bg-dc-logo {
  background-image: url("/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.left h3 {
  padding: 1em 0;
}

.left li {
  color: grey;
}